@import './_variable.scss';

.map-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.custom-marker {
    color: $MARKER_COLOR;
}

@keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
}

.leaflet-control-zoom a>span {
    color: $PRIMARY_MAIN_COLOR  !important;
}